body {
    margin: 0;
    font-family: Arial;
}





/* Nav bar styleings */
#navContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 2.5vw 0px 0px;
}

#navBar {
    width: 95vw;
    position: fixed;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1vw 2.5vw 2.5vw 0px;
    box-shadow: 0px 8px 10px 4px rgba(0,0,0,0.3);
    border-radius: 4px;
    transition: width 0.5s;
}

#title {
    font-size: 1.5rem;
    margin: 6px;
}

#navButtons{
    display: flex;
    flex-direction: row;
}

.navButton {
    padding: 12px;
    height: 100%;
}

.navButton:hover {
    background-color: #222222;
    color: #f7f7f7!important;
}

.navLinks {
    padding: 12px;
    height: 100%;
    text-decoration: none;
    color: #222222
}

.navLinks:hover {
    text-decoration: none;
    color: #f7f7f7;
    background-color: #222222;
}


.sideLinks{
    text-decoration: none;
    color: #999;
}

.sideLinks:hover {
    color: #000;
}






/*  slider styling */
#slider { 
   
}

.slides {
    display: none;
}












.blogImg {
    width: 100%;
}








/* contact styling */
#formContainer { 
    /* min-height: 65vh; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.putMargin {
    margin: 12px;
}

input {
    height: 30px;
}

textarea {
    height: 150px;
}

button {
    height: 30;
    border-style: solid;
    border-width: 1px;
    border-color: #f7f7f7;
    color: #fff;
    background-color: #222222;
}



/* footer styling */
#footer { 
    /* height: 20vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}








/* commong styling */

.dark-bg {
    background-color: #222222;
}

.light-bg {
    background-color: #f7f7f7;
}

.dark-text {
    color: #222222;
}

.light-text {
    color: #f7f7f7;
}

.padding {
    padding: 16px
}

.text-center {
    text-align: justify;
}

.cover-img {
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.containerMain {
    display: flex;
    flex-direction: row;
}

#articleList {
    width: 15vw;
    text-align: right;
    position: fixed;
    margin: 0px 10px 0px 0px;
    padding: 10px 10px 0px 0px;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: orange;
}

.content {
    margin-left: 20vw;
    margin-right: 20vw;
}